# my.cnf
#
# This file sets up the two mysql instances that represent the Master/slave
# instances.
#

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld_multi]
mysqld          = /usr/bin/mysqld_safe
mysqladmin      = /usr/bin/mysqladmin
user            = mysql
pass            = mysql-pass


[mysqld1]
server-id       = 1
user            = mysql
port            = 3306
mysqlx_port     = 33161
pid-file        = /var/run/mysqld/mysqld_master.pid
socket          = /var/run/mysqld/mysqld_master.sock
mysqlx_socket   = /var/run/mysqld/mysqldx_master.sock
datadir         = /var/lib/mysql
log_error       = /var/log/mysql/error_master.log
secure-file-priv= NULL 

#
# Setting the read_only parameter doesn't prevent all writes.
# Users with SUPER privilege can still write if we don't set
# super_read_only. This value is intentionally not set.
#

[mysqld2]
server-id       = 2
user            = mysql
port            = 3307
mysqlx_port     = 33262
read_only       = 1
pid-file        = /var/run/mysqld/mysqld_slave.pid
socket          = /var/run/mysqld/mysqld_slave.sock
mysqlx_socket   = /var/run/mysqld/mysqldx_slave.sock
datadir         = /var/lib/mysql_slave
log_error       = /var/log/mysql_slave/error_slave.log
relay-log       = /var/log/mysql_slave/relay-bin
relay-log-index = /var/log/mysql_slave/relay-bin.index
master-info-file    = /var/log/mysql_slave/master.info
relay-log-info-file = /var/log/mysql_slave/relay-log.info
secure-file-priv = NULL



# Custom config should go here
!includedir /etc/mysql/conf.d/